{% extends 'base.html' %} {% block title %}
  Confirmer la Suppression du Personnel
{% endblock %} {% block content %}
  <div class="alert alert-danger shadow-sm" role="alert">
    <h4 class="alert-heading"><i class="fas fa-exclamation-triangle me-2"></i> Confirmer la Suppression</h4>
    <p>Êtes-vous sûr de vouloir supprimer le membre du personnel **{{ object.prenom }} {{ object.nom }}** ?</p>
    <p class="mb-0">**ATTENTION :** Cela supprimera également toutes les **Visites** associées à cette personne.</p>
    <hr />
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt me-1"></i> Oui, Supprimer Définitivement</button>
      <a href="{% url 'personnel:detail_personnel' pk=object.pk %}" class="btn btn-secondary ms-2">Annuler</a>
    </form>
  </div>
{% endblock %}
