{% extends 'base.html' %} {% block title %}
  Planifier une Visite
{% endblock %} {% block content %}
  <h1 class="h3 text-primary">
    <i class="fas fa-calendar-plus me-2"></i>
    {% if object %}
      Modifier la Visite
    {% else %}
      Planifier une Nouvelle Visite
    {% endif %}
  </h1>

  <div class="card shadow-sm mt-4">
    <div class="card-body">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}

        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-save me-1"></i> Enregistrer la Visite</button>

        {% if object %}
          <a href="{% url 'personnel:detail_personnel' object.personnel.pk %}" class="btn btn-secondary mt-3 ms-2">Annuler</a>
        {% else %}
          <a href="{% url 'personnel:liste_personnels' %}" class="btn btn-secondary mt-3 ms-2">Annuler</a>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
