{% extends 'base.html' %} {% block title %} Liste des Entreprises {% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h3 text-primary">
    <i class="fas fa-building me-2"></i> Liste des Entreprises
  </h1>
  <a
    href="{% url 'entreprise:ajouter_entreprise' %}"
    class="btn btn-success shadow-sm"
    ><i class="fas fa-plus-circle me-1"></i> Ajouter une Entreprise</a
  >
</div>

{% if entreprises %}
<div class="card shadow-sm">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Secteur</th>
            <th scope="col">Ville / Adresse</th>
            <th scope="col">delegation</th>
            <th scope="col">contact</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for entreprise in entreprises %}
          <tr>
            <td>{{ entreprise.nom }}</td>
            <td>{{ entreprise.secteur_activite }}</td>
            <td>{{ entreprise.adresse }}</td>
            <td>{{ entreprise.delegation }}</td>
            <td>{{ entreprise.contact }}</td>

            <td>
              <a
                href="{% url 'entreprise:detail_entreprise' entreprise.pk %}"
                class="btn btn-sm btn-info text-white me-2"
                title="Voir les détails"
                ><i class="fas fa-eye"></i>Detail</a
              >
              <a
                href="{% url 'entreprise:modifier_entreprise' entreprise.pk %}"
                class="btn btn-sm btn-warning me-2"
                title="Modifier"
                ><i class="fas fa-edit"></i>Modifier</a
              >
              <a
                href="{% url 'entreprise:supprimer_entreprise' entreprise.pk %}"
                class="btn btn-sm btn-danger"
                title="Supprimer"
                ><i class="fas fa-trash-alt"></i>Supprimer</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="alert alert-info text-center" role="alert">
  Aucune entreprise enregistrée pour le moment.
</div>
{% endif %} {% endblock %}
